coverage/
fhodot/app/ui/dist/
node_modules/
import/boundaries/*
!import/boundaries/README.md
import/os_open_names/*
!import/os_open_names/README.md
import/osm/*.pbf
import/osm/imposm_cache/
__pycache__/
stats/.Rhistory
stats/.Rproj.user/
stats/_targets/
stats/data/
stats/output/
stats/*.Rproj
stats/*.html
venv/
*.pyc
.coverage
.ctags
dump.rdb
stats.json
tags
